<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thêm sản phẩm</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>hello</h1>
	<form action="/nhanvienkho/chonsanpham" method="GET" th:object = "${nhacungcap}">
		<select name = "nhacungcap" required="required">
			<option hidden="" disabled selected value="" th:data-option = "0">Chọn nhà cung cấp</option>
			<option th:each="nhacungcap,loop : ${listNhaCungCap}" th:value="${loop.index}"  th:text= "${nhacungcap.ten}" > </option>								
		</select>
		<input type= "submit" value = "Tiếp tục">
	</form>
</body>
</html>